@tailwind base;
@tailwind components;
@tailwind utilities;

.hh-bg {
  background-image: url("/bayview-bg-8988.jpeg");
  background-size: cover;
  background-position: center bottom;
  position: relative;
}


